nav.navbar {
    background: #E83E3F;
}

.navbar-brand img {
    width: 50px;
}

.btn.btn-goovies {
    background: #E83E3F;
    color: #fff;
    width: 100%;
}

img.profile_image {
    width: 10%;
    height: 10%;
}