{% extends 'base.html.twig' %}

{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('user_home') }}">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
    </li>
{% endblock %}

{% block body %}
    <p>Je suis bien connecté !</p>
{% endblock %}